{% extends 'InsoloTvCalendarBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/bower_components/fullcalendar/fullcalendar.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/bower_components/fullcalendar/fullcalendar.min.js') }}"></script>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <script type="text/javascript">
        $(function () {
            $('#userShowsCalendar').fullCalendar({
                events: {{events|raw}},
                eventClick: function (event) {
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }
                    return true;
                },
                defaultView: 'basicWeek',
                firstDay: 1,
                monthNames: ["Jaanuar", "Veebruar", "Märts", "Aprill", "Mai", "Juuni", "Juuli", "August", "September", "Oktoober", "November", "Detsember"],
                monthNamesShort: ["Jan", "Veeb", "Märts", "Apr", "Mai", "Juuni", "Juuli", "Aug", "Sept", "Okt", "Nov", "Dets"],
                dayNames: ['Pühapäev', 'Esmaspäev', 'Teisipäev', 'Kolmapäev', "Neljapäev", "Reede", "Laupäev"],
                dayNamesShort: ['P', 'E', 'T', 'K', "N", "R", "L"],
                buttonText: {
                    prev: '<span class="glyphicon glyphicon-chevron-left"></span>', // <
                    next: '<span class="glyphicon glyphicon-chevron-right"></span>', // >
                    prevYear: '&laquo;',  // <<
                    nextYear: '&raquo;',  // >>
                    today: 'täna',
                    month: 'kuu',
                    week: 'nädal',
                    day: 'päev'
                },
                header: {
                    left: 'title',
                    center: 'basicWeek,month',
                    right: 'today prev,next'
                }
            });
        });
    </script>
{% endblock %}

{% block title %}Minu kava{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="frontpage-block-header shows-header">
                <h1>Minu kava</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="userShowsCalendar">

            </div>
        </div>
    </div>
{% endblock %}