{% extends 'InsoloTvCalendarBundle::layout_login.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/css/login.css') }}"/>
{% endblock %}

{% block body %}
    <form class="form-signin well well-lg" role="form" action="{{ path('insolo_tv_calendar_login_check') }}" method="post">
        <h2 class="form-signin-heading">Sisselogimine</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <input type="email" class="form-control" placeholder="E-posti aadress" name="_username" required autofocus value="{{ last_email }}">
        <input type="password" class="form-control" placeholder="Parool" name="_password" required>
        <label class="checkbox">
            <input type="checkbox" name="_remember_me" value="1"> Jäta mind meelde
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sisene</button>
    </form>
{% endblock %}
