body {
    min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

.frontpage-block-header {
    height: 50px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}

p.yesterday-date {
    font-size: 14px;
    font-weight: bold;
    color: #999999;
}

.news .heading {
    font-size: 16px;
    font-weight: bold;
}

.news-row {
    margin-bottom: 40px;
}

.news-row h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.news-row .date {
    margin-bottom: 20px;
    color: #999;
}

.news-row .label {
    text-transform: uppercase;
}

.chosen-single {
    height: 30px !important;
}

/**
 * CALENDAR
 */
.tv-calendar-event {
    background-color: transparent;
    border-color: #eeeeee;
    color: #428BCA;
}

.tv-calendar-event:hover {
    color: #2A6496;
    text-decoration: underline;
}


