<div class="yesterday clearfix">
    <p class="yesterday-date pull-right">{{ data.date }}</p>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Saade</th>
                <th>Hooaeg</th>
                <th>Episood</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ episode.link }}" target="_blank">{{ episode.show.title }} / {{ episode.title }}</a>
                    </td>
                    <td>{{ episode.season.nr }}</td>
                    <td>{{ episode.nr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>