{% extends 'InsoloTvCalendarBundle::layout.html.twig' %}

{% block title %}TvCalendar{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="frontpage-block-header yesterday-header">
                <h1>Täna eetris</h1>
            </div>

            {{ render(controller('InsoloTvCalendarBundle:Frontpage:episodeList', {time:'today'})) }}

            <div class="frontpage-block-header yesterday-header">
                <h1>Homme eetris</h1>
            </div>

            {{ render(controller('InsoloTvCalendarBundle:Frontpage:episodeList', {time:'tomorrow'})) }}

            <div class="frontpage-block-header yesterday-header">
                <h1>Eile eetris</h1>
            </div>

            {{ render(controller('InsoloTvCalendarBundle:Frontpage:episodeList', {time:'yesterday'})) }}
        </div>
        <div class="col-md-6">
            <div class="frontpage-block-header news-header">
                <h1>Uudised</h1>
            </div>

            <div class="news">
                {% for newsItem in news %}
                    <div class="news-row">
                        <h4>{{ newsItem.title }}</h4>

                        <p class="date">{{ newsItem.publishedOn|date('d.m.Y') }}
                            {% if newsItem.badge %}
                                <span class="label label-{{ newsItem.badge }}">
                                {% if newsItem.badgeText %}
                                    {{ newsItem.badgetext }}
                                {% else %}
                                    !
                                {% endif %}
                                </span>
                            {% endif %}
                        </p>

                        <div class="content">
                            {{ newsItem.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}