<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}TvCalendar!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/css/project.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('insolo_tv_calendar_main') }}">TvCalendar</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route')=='insolo_tv_calendar_main' %}active{% endif %}">
                            <a href="{{ path('insolo_tv_calendar_main') }}">Avaleht</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route')=='insolo_tv_calendar_shows' %}active{% endif %}">
                            <a href="{{ path('insolo_tv_calendar_shows') }}">Saated</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route')=='insolo_tv_calendar_schedule' %}active{% endif %}">
                            <a href="{{ path('insolo_tv_calendar_schedule') }}">Minu kava</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> {{ app.user.name }}
                                <span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('insolo_tv_calendar_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logi välja</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/bower_components/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/js/project.js') }}"></script>
    </body>
</html>
