<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}TvCalendar!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/css/project.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/bower_components/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/js/project.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
