{% extends 'InsoloTvCalendarBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/insolotvcalendar/css/chosen.min.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/insolotvcalendar/js/chosen.jquery.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $("#showsFilter").chosen({disable_search_threshold: 10});

            $('#showsFilter').on('change', function (e) {
                var selectedValue = $(this).val();
                console.log(selectedValue);
                var checkbox = $('.showUserCheck[value=' + selectedValue + ']');
                $.post('{{ path('insolo_tv_calendar_shows_save')}}', {showId: selectedValue, addOnly: 1}).done(function (data) {
                    InSolo.Message.reset();
                    if (data.status == 1) {
                        if (data.user_is_watching == 1) {
                            checkbox.prop('checked', true);
                            InSolo.Message.success(data.message);
                        }
                        else {
                            checkbox.prop('checked', false);
                            InSolo.Message.error(data.message);
                        }
                    }
                    else {
                        InSolo.Message.error(data.message);
                    }
                });
            });

            $('.showUserCheck').on('click', function (e) {
                e.preventDefault();
                var _this = $(this);
                $.post('{{ path('insolo_tv_calendar_shows_save')}}', {showId: $(this).data('show-id')}).done(function (data) {
                    InSolo.Message.reset();
                    if (data.status == 1) {
                        if (data.user_is_watching == 1) {
                            _this.prop('checked', true);
                            InSolo.Message.success(data.message);
                        }
                        else {
                            _this.prop('checked', false);
                            InSolo.Message.error(data.message);
                        }
                    }
                    else {
                        InSolo.Message.error(data.message);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block title %}Saated{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="frontpage-block-header shows-header">
                <h1>Andmebaasis olevad saated</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pealkiri</th>
                        <th>Staatus</th>
                        <th>Jälgi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in shows %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a href="{{ show.link }}" target="_blank">{{ show.title }}</a>
                            </td>
                            <td>{{ show.statusDisplayed }}</td>
                            <td>
                                <input class="showUserCheck" data-show-id="{{ show.id }}" value="{{ show.id }}" type="checkbox" {% if show.users.contains(user) %}checked="checked"{% endif %}/>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="alert alert-danger" style="display: none">
                <strong></strong> <span class="alert-message"></span>
            </div>
            <div class="alert alert-success" style="display: none">
                <strong></strong> <span class="alert-message"></span>
            </div>
            <div class="alert alert-warning" style="display: none">
                <strong></strong> <span class="alert-message"></span>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <select class="form-control" name="shows" id="showsFilter" data-placeholder="Vali saade, mida jälgida">
                    <option value=""></option>
                    {% for show in shows %}
                        <option value="{{ show.id }}">{{ show.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}